<div *ngIf="quiz" class="quiz">
    <h2 class="page-header text-center text-info">Details</h2>
    <h4 class="text-center">"{{ quiz.Title }}"</h4>
    <ul class="form-group text-center">
        <li>
            <label class="text-info">Title:</label>
            <input [ngModel]="quiz.Title"
                   [disabled]="true"
                   class="form-control" />
        </li>
        <li>
            <label class="text-info">Description:</label>
            <textarea [ngModel]="quiz.Description"
                      [disabled]="true"
                      class="form-control"
                      rows="4"></textarea>
        </li>
    </ul>
    <div class="text-center">
        <input type="button" class="btn btn-primary" *ngIf="quiz!.Id" value="Edit" (click)="onEdit()" />
        <input type="button" class="btn btn-danger" *ngIf="quiz!.Id" value="Delete Quiz" (click)="onDelete()" />
    </div>
</div>