<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand">Free Tests</a>
        <button class="toggle-btn" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
            <span>=</span>
        </button>
    </div>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']" class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quiz Options <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li [routerLinkActive]="['link-active']" class="nav-item">
                            <a [routerLink]="['/quiz/create']" class="nav-link">
                                <span class='glyphicon glyphicon-cog'></span> Create Quiz
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Control Panel <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li [routerLinkActive]="['link-active']" class="nav-item">
                            <a [routerLink]="['/signup']" class="nav-link">
                                <span class="glyphicon glyphicon-user"></span> Sign Up
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']" class="nav-item">
                            <a [routerLink]="['/login']" class="nav-link">
                                <span class='glyphicon glyphicon-log-in'></span> Login
                            </a>
                        </li>
                        <li [routerLinkActive]="['link-active']" class="nav-item">
                            <a [routerLink]="['/about']" class="nav-link">
                                <span class='glyphicon glyphicon-info-sign'></span> About
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
